@model StoRvStar.Models.Entities.ServiceRequest

<h2>Створити заявку</h2>

<form method="post">
    <label>CarId:</label>
    <input type="number" name="CarId" />

    <br />

    <label>UserId:</label>
    <input type="number" name="UserId" />

    <br /><br />

    <button type="submit">Зберегти</button>
</form>